._1p1t {
  display: none !important
}

/* This is the messenger text input */
._5rpu {
  color: transparent !important;
  /* The cusor looks weird after a replacement has been done, though. I think
  I need to make my own un-editable input.*/
  /* caret-color: black !important; */
}

body {
  overflow: hidden
}

/* I want to make the text in the actual input invisible */

#custom-message-overlay {
  border: 1px solid green;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 833px;
  height: 35px;
  border-radius: 18px;
  /* Just for now:  */
  /* background-color: rgba(0, 0, 0, 0.05); */
  /* bottom: 95px; */
  /* border: 1px solid blue; */
  bottom: 45px;
  left: 598px;
  z-index: 100000;
  padding: 10px;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: left;
  /* background-color: rgba(0, 0, 0, 0.05); */
  pointer-events: none;
}

/* #custom-input-wrapper input, #custom-input-wrapper input:focus {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
} */

#emoji-selection-wrapper {
	display: none;
}

#emoji-selection-wrapper.active {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .40);
	border-radius: 5px;
	z-index: 1000;
	font-size: 15px;
	box-shadow: 3px 1px 5px grey;
	outline: none;
}

.emoji-suggestion, .emoji-suggestion-selected {
	position: relative;
	display: flex;
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, .40);
	height: 25px;
}

.emoji-suggestion-selected {
	background-color: #0084ff;
}

.emoji-suggestion-selected p {
	color: white;
}

.emoji-suggestion:last-child, .emoji-suggestion-selected:last-child {
	border-bottom: none;
}

.emoji-suggestion:hover, .emoji-suggestion-selected:hover {
  background-color: #0084ff;
  cursor: pointer;
}

.emoji-suggestion:hover p, .emoji-suggestion-selected:hover p {
	color: white;
}

.emoji-suggestion p, .emoji-suggestion-selected p {
	margin: 0px;
}

.emoji-value-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 5px;
}

