._1p1t {
  display: none !important
}

#emoji-selection-wrapper {
	display: none;
}

#emoji-selection-wrapper.active {
	position: absolute;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .40);
	border-radius: 5px;
	z-index: 1000;
	font-size: 15px;
	box-shadow: 3px 1px 5px grey;
	outline: none;
}

.emoji-suggestion, .emoji-suggestion-selected {
	position: relative;
	display: flex;
	padding: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, .40);
	height: 25px;
}

.emoji-suggestion-selected {
	background-color: #0084ff;
}

.emoji-suggestion-selected p {
	color: white;
}

.emoji-suggestion:last-child, .emoji-suggestion-selected:last-child {
	border-bottom: none;
}

.emoji-suggestion:hover, .emoji-suggestion-selected:hover {
  background-color: #0084ff;
  cursor: pointer;
}

.emoji-suggestion:hover p, .emoji-suggestion-selected:hover p {
	color: white;
}

.emoji-suggestion p, .emoji-suggestion-selected p {
	margin: 0px;
}

.emoji-value-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 5px;
}

